{% extends 'base.html' %}
{% block scripts %}
<script type="text/javascript">
$(document).ready(function(){
  $('#id_escolher_empresa').change(function(){
    if($('#id_escolher_empresa').val()){
      window.location.href='{% url 'escolherempresa' %}/'+$('#id_escolher_empresa').val();
    }else{
      window.location.href='{% url 'escolherempresa' %}';
    }
  });
});
</script>
{% endblock %}


{% block content %}
<form method="POST" action="">
  {{form.errors}}
    {% csrf_token %}
  {{form.escolher_empresa}}
  {%if id%}
    {{form.name}}
    {{form.email}}
    {{form.cargo}}
    <input type="submit" value="salvar" />
  {%endif%}
</form>
{% endblock %}

